<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskApp</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css')}}">
</head>
<body>
    <h1>All Pokemon:</h1>
    <hr>
    <div class="content">
        <table>
            <thead>
                <tr>
                    <th>Pokedex #</th>
                    <th>Name</th>
                    <th># Caught</th>
                    <th>Image</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for key, pokemon in pokemonList.items() %}              
                    </tr>
                        <td>{{pokemon.pokemonName}}</td>
                        <td>{{pokemon.pokedexNumber}}</td>
                        <td>{{pokemon.numberCaught}}</td>
                        <td><img src = "data:image/png;base64, {{pokemon.image}}", width="100", height="100"/></td>
                        <td><a href="deletePokemon?pokemonName={{pokemon.pokemonName}}">Delete</a> </td>
                    </tr>
                {% endfor %} 
            </tbody>
        </table>
    </div>
</body>
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
<script>
    $(document).ready(function () {
      $('#data').DataTable();
    });
</script>
</html>