<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>FlaskApp</title>
    <style>
        .todo {
            padding: 20px;
            margin: 10px;
            background-color: #eee;
        }
    </style>
</head>

<body>
    <h1>FlaskPokemon</h1>
    <hr>
    <div class="content">
        <table>
            <tr>
                <td>{{pokemonList.pokemonName}}, #{{pokemonList.pokedexNumber}}</td>
                <td>Number Caught: {{pokemonList.numberCaught}}</td>
                <td><img src="data:image/png;base64, {{pokemonList.image}}" /></td>
            </tr>
        </table>
    </div>
</body>

</html>