<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>FlaskApp</title>
    <style>
        .todo {
            padding: 20px;
            margin: 10px;
            background-color: #eee;
        }
    </style>
</head>

<body>
    <h1>FlaskPokemon</h1>
    <hr>
    <div class="content">
        <h2><a href='/POST'>View your Pokemon</a></h2>
        <form method="post" enctype="multipart/form-data">
            <p>
                <b><label for="content">Pokedex</label></b>
            </p>

            <h2>Old Pokemon Name:</h2>

            <p>
                <input type="text" name="queryName" placeholder="Old Pokemon Name Here"></input>
            </p>

            <h2>New Pokemon Information (Must input all):</h2>

            <p>
                <input type="text" name="pokedexNumber" placeholder="Pokedex Number Here"></input>
            </p>

            <p>
                <input type="text" name="pokemonName" placeholder="Pokemon Name Here"></input>
            </p>

            <p>
                <input type="text" name="numberCaught" placeholder="Number Caught"></input>
            </p>

            <h3>Upload picture of your pokemon</h3>
            <p>
                <input type="file" name="picture"></input>
            </p>

            <button type="submit">Submit</button>
        </form>
    </div>
</body>

</html>